# String

String is a datatype in python

String is a sequence of characters enclosed in quotes

We can primarly, write a string in these 3 ways

a = 'hardik'

b = "hardik"             # eg: b = "hardik's"

c = '''hardik'''

## String Slicing

In [2]:
name = "hardik"
print(len(name))
print(type(name))

6
<class 'str'>

In [4]:
# concatination

name = "Hardik"
roll = '111'
print(name + roll)

Hardik111

A String in python can be sliced for getting a part of the string

           0     1     2     3     4     5
name = "|  H  |  A  |  R  |  D  |  I  |  K  |"  => length = 6
          -6    -5    -4    -3    -2    -1

In [6]:
name = "hardik"
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4])

h
a
r
d
i

In string item assignment is not possible

In [7]:
name[3] = "f"

TypeError: 'str' object does not support item assignment

In [8]:
print(name[1:4]) # Not including 4

ard

In [9]:
print(name[2:])

rdik

In [12]:
print(name[:3])

har

In [13]:
print(name[-1:])

k

In [14]:
print(name[:-1])

hardi

### Skip value

In [16]:
d = name[1:4:2]  # 1 To 4 with skip value of 2     => 2 means skip 1 value
print(d)

ad

In [17]:
name = "HardikIsAGoodBoy"
val = name[0::2]
print(val)

HriIAodo

## String Functions

Some of the mostly used function to perform operations on or manipulates string are:

#### 1) len()

Returns the length of the string

In [19]:
ds = "Data science is related to data mining, machine learning and big data."
print(ds)

Data science is related to data mining, machine learning and big data.

In [21]:
print(ds[0:5])

Data

In [22]:
print(len(ds))

70

#### 2.) string.endswith()

This function tells whether the variable string ends with the string 'dik' or not. If string is 'Hardik', it return True 'dik' since Hardik ends with dik.

Returns <b>True</b> or <b>False</b>.

In [25]:
print(ds.endswith("data."))

True

In [26]:
print(ds.endswith("da"))

False

#### 3.) string.count()

Counts the total number of occurance of any character

In [29]:
print(ds.count("data"))

2

In [31]:
print(ds.count("a"))

10

#### 4.) string.capitalize()

This function capitalize the first characters of a given string

In [33]:
val = "hardik is a good boy."
print(val.capitalize())

Hardik is a good boy.

#### 5.) string.find(word)

This function finds a word and returns the index of the <b>first occurance</b> of that word in the string

In [36]:
print(ds.find("is"))        # Finds the index number of the given word

13

In [38]:
print(ds.find("ram"))       # If not found than return -1

-1

#### 6.) string.replace(old_word, new_word)

This function replace the old word with the new word in the <b>entire string with all occurace</b>

In [39]:
print(ds.replace("data", "DATA"))

Data science is related to DATA mining, machine learning and big DATA.

---------------------------------------------------------------------------------------------------------

## Escape Sequence Characters

Escape Sequence Character compires of more than one character but represents on character when used within the string.

Sequence of the character after backslash '\\' => Escape Sequence Character

Example: 
    
\n => New line

\t => Tab

\\' => Single quote

\\\ => Backslash
...etc

In [40]:
ds = "Data science is related to data mining, machine learning and big data."
print(ds)

Data science is related to data mining, machine learning and big data.

This is not allowed in python

In [41]:
ds = "Data science is related to data 
mining, machine learning and big data."
print(ds)

SyntaxError: EOL while scanning string literal (<ipython-input-41-8db92000a770>, line 1)

In [43]:
ds = "Data science is related to data mining,\n machine \t learning and big data."
print(ds)

Data science is related to data mining,
 machine 	 learning and big data.

---------------------------------------------------------------------------------------

In [46]:
letter = '''Dear <|NAME|>,
 You are selected!
 <|DATE|>'''

print(letter)

Dear <|NAME|>,
 You are selected!
 <|DATE|>

In [48]:
name = input("Enter your name:")
date = input("Enter date:")


print("---------------------------------------")

letter = letter.replace("<|NAME|>",name)
letter = letter.replace("<|DATE|>",date)

print(letter)

Enter your name:Hardik
Enter date:5th Nov
---------------------------------------
Dear Hardik,
 You are selected!
 5th Nov

In [49]:
# detect double spaces in the string

s = "Hardik is a very  good boy"
print(s.find("  "))

16

In [50]:
# replace double space with single space

print(s.replace("  "," "))

Hardik is a very good boy