# Lambda Function

Functions created using an expression using lambda keyword.

Syntax:
    
    lambda argument: expression
                        ^
                     Can be used as a normal function  
                     
Example:
    
        square = lambda x : x*x
        square(6)      <======= Return 36
        
        sumval = lambda a,b,c: a+b+c
        sum(1,2,3)     <====== Return 6

In [1]:
def func(a):
    return a + 5

x = 20
print(func(x))

25

In [2]:
func = lambda a: a+5
print(func(x))

25

In [3]:
squ = lambda x: x*x
print(squ(5))

25

# Join Method

In [5]:
lst = ['Camera','Mobile','Computer','Mic','Hardisk','GTX 3080']

# Using this lst create a string where they get printed using &

sen = " & ".join(lst)
print(sen)

val = "\n".join(lst)
print(val)

Camera & Mobile & Computer & Mic & Hardisk & GTX 3080
Camera
Mobile
Computer
Mic
Hardisk
GTX 3080

In [7]:
set_val = ('Camera','Mobile','Computer','Mic','Hardisk','GTX 3080')

# Using this set_val create a string where they get printed using &

sen1 = " & ".join(set_val)
print(sen1)

val1 = "\n".join(set_val)
print(val1)

Camera & Mobile & Computer & Mic & Hardisk & GTX 3080
Camera
Mobile
Computer
Mic
Hardisk
GTX 3080

# Format Method

Format the values inside the string into a desired output.

Syntax:

    temp.format(p1,p2,...)
                    ^
                  Argument

In [8]:
name = "Hardik"
channel = "InfinityCodeX"
a = "This is {} and his channel is {}".format(name,channel)
print(a)

This is Hardik and his channel is InfinityCodeX

In [9]:
name = "Hardik"
channel = "InfinityCodeX"
a = "This is {1} and his channel is {0}".format(name,channel)
print(a)

This is InfinityCodeX and his channel is Hardik

# Map, Filer and Reduce

<b>Map</b> applies a function to all the items in an input_list

Syntax :
     
        map(function, input_list)
              ^
          can be a lambda function
        
<b>Filter</b> creates a list of items for which the function returns true.

Synatx :
        
        list(filter(function,input_list)))
                       ^
                  can be a lambda function

<b>Reduce</b> applies a rolling compunation to sequence pair of elements.

Syntax :
        
        from functools import reduce
        val = reduce(function, list1)
                        ^
                  can be a lambda function

If the function computes sum of 2 num and the list is [1,2,3,4]

        1     2     3     4
        \_____/
           |
           3     3     4
           \_____/
              |
              6     4
              \_____/                     <===== sequential computation
                 |
                 10

##### Map Example

In [3]:
# Find Square of all the values in the list

def squared_val(num):
    return num * num

lst = [2,4,5]

# Normal Method

lst2 = []
for i in lst:
    lst2.append(squared_val(i))
print("Using Normal Method: ",lst2)

print("------------------------------------")
# Using Map

print(map(squared_val,lst)) # will give only location

print(list(map(squared_val,lst)))

Using Normal Method:  [4, 16, 25]
------------------------------------
<map object at 0x000002216127E1C8>
[4, 16, 25]

##### Filter Example

In [8]:
def greater_than_5(num):
    if num > 5:
        return True
    else:
        return False
    
lst = [1,2,3,4,5,2,7,3,3,9,43,2,5,100]

print(list(filter(greater_than_5,lst)))


g10 = lambda num : num > 10

print(list(filter(g10,lst)))

[7, 9, 43, 100]
[43, 100]

##### Reduce Example

In [9]:
from functools import reduce

sum_val = lambda a,b : a+b

lst = [1,2,3,4]
val = reduce(sum_val, lst)
print(val)

10

###### write a prog to input name, marks and p-number of the student and format it using the format function like below:

###### The name of the student is Hardik, his marks are 99 and p-number is 1231234320.

In [1]:
name = input("Enter your name:")
marks = int(input("Enter the marks:"))
p_num = int(input("Enter the number:"))

val = "The name of the student is {0}, his marks are {1} and p-number is {2}.".format(name,marks,p_num)
print(val)

Enter your name:Hardik
Enter the marks:99
Enter the number:1231234320
The name of the student is Hardik, his marks are 99 and p-number is 1231234320.

##### A list contains the multiplication table of the 7. write a prog to convert it to a vertical string same num.

In [10]:
lst = [str(i*7) for i in range(1,11)]
print(lst)

val = "\n".join(lst)
print(val)

['7', '14', '21', '28', '35', '42', '49', '56', '63', '70']
7
14
21
28
35
42
49
56
63
70

##### Write a program to filter the list of number which are divisible by 5.

In [12]:
lst = [1,23,15,10,26,29,80,90,66,1,5,3,44,46,75]

val = filter(lambda num: num%5==0,lst)
print(list(val))

[15, 10, 80, 90, 5, 75]

##### write a program to find the max of the num in a list using reduce fun.

In [14]:
from functools import reduce

lst = [1,2,3,4]
val = reduce(max, lst)
print(val)

4