In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"D:\Dig\SMSSpamCollection",sep="\t",names=['Label','Message'])
data.head()

  Label                                            Message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
data.describe()

       Label                 Message
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Label    5572 non-null   object
 1   Message  5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [5]:
data.shape

(5572, 2)

In [6]:
data.tail()

     Label                                            Message
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

In [7]:
data['Label'].value_counts()

ham     4825
spam     747
Name: Label, dtype: int64

In [8]:
data['Label_num'] = data.Label.map({'ham':0, 'spam':1})

In [9]:
data.head()

  Label                                            Message  Label_num
0   ham  Go until jurong point, crazy.. Available only ...          0
1   ham                      Ok lar... Joking wif u oni...          0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...          1
3   ham  U dun say so early hor... U c already then say...          0
4   ham  Nah I don't think he goes to usf, he lives aro...          0

In [10]:
X = data.Message
y = data.Label_num

In [11]:
X.shape

(5572,)

In [12]:
y.shape

(5572,)

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
print(X_train.shape)
print(X_test.shape)

(4457,)
(1115,)

In [15]:
print(y_train.shape)
print(y_test.shape)

(4457,)
(1115,)

### Instantiate Countvectorizer object

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

vector = CountVectorizer()

In [17]:
vector.fit(X_train)

CountVectorizer()

In [18]:
# Transforming it into doc matrix

X_train_dt_mtx = vector.transform(X_train)

In [19]:
X_train_dt_mtx.shape

(4457, 7702)

In [20]:
X_train_dt_mtx

<4457x7702 sparse matrix of type '<class 'numpy.int64'>'
	with 59296 stored elements in Compressed Sparse Row format>

In [21]:
X_test_dtmatrix=vector.transform(X_test)
X_test_dtmatrix.shape

(1115, 7702)

In [22]:
X_test.shape

(1115,)

In [23]:
X_test_dtmatrix

<1115x7702 sparse matrix of type '<class 'numpy.int64'>'
	with 13781 stored elements in Compressed Sparse Row format>

In [24]:
from sklearn.naive_bayes import MultinomialNB

nb_model = MultinomialNB()

In [25]:
nb_model.fit(X_train_dt_mtx,y_train)

MultinomialNB()

In [26]:
pred = nb_model.predict(X_test_dtmatrix)

In [27]:
from sklearn import metrics

metrics.accuracy_score(y_test, pred)

0.9919282511210762

In [28]:
print(metrics.confusion_matrix(y_test, pred))

[[966   0]
 [  9 140]]

### Built a logistic regression model

In [29]:
from sklearn.linear_model import LogisticRegression
log_model = LogisticRegression()

In [30]:
log_model.fit(X_train_dt_mtx, y_train)

LogisticRegression()

In [31]:
log_pred = log_model.predict(X_test_dtmatrix)

In [32]:
print(metrics.accuracy_score(y_test, log_pred))

0.9883408071748879

In [33]:
print(metrics.confusion_matrix(y_test, log_pred))

[[966   0]
 [ 13 136]]

### Built a SVM model

In [34]:
from sklearn.svm import SVC
svm_model = SVC()

In [35]:
svm_model.fit(X_train_dt_mtx, y_train)

SVC()

In [36]:
svm_pred = svm_model.predict(X_test_dtmatrix)

In [37]:
print(metrics.accuracy_score(y_test, svm_pred))

0.9865470852017937

In [38]:
print(metrics.confusion_matrix(y_test, svm_pred))

[[966   0]
 [ 15 134]]

# Naive_bayes did better than logistic regression & SVM

0 < 1 #ham: 0, spam:1

In [39]:
y_test < pred # 0,1

3245    False
944     False
1044    False
2484    False
812     False
        ...
4264    False
2439    False
5556    False
4205    False
4293    False
Name: Label_num, Length: 1115, dtype: bool

In [40]:
fp = X_test[y_test < pred]
print("Actually they are ham predicted as spam :\n",fp)
print("Shape : ",fp.shape)
print("Length : ",len(fp))

Actually they are ham predicted as spam :
 Series([], Name: Message, dtype: object)
Shape :  (0,)
Length :  0

In [41]:
X_test[y_test > pred]   # Actual mssg is spam(1) but predicted as ham(0)

3864    Oh my god! I've found your number again! I'm s...
2575    Your next amazing xxx PICSFREE1 video will be ...
2402    Babe: U want me dont u baby! Im nasty and have...
2663    Hello darling how are you today? I would love ...
751     Do you realize that in about 40 years, we'll h...
856     Talk sexy!! Make new friends or fall in love i...
3360    Sorry I missed your call let's talk when you h...
3425    Am new 2 club & dont fink we met yet Will B gr...
731     Email AlertFrom: Jeri StewartSize: 2KBSubject:...
Name: Message, dtype: object

In [42]:
len(X_test[y_test > pred])   # False positive

9

In [43]:
len(X_test[y_test < pred])   # False negative

0

In [44]:
X_test[751]

"Do you realize that in about 40 years, we'll have thousands of old ladies running around with tattoos?"

### Most common SPAM and HAM word

In [45]:
X_train_words = vector.get_feature_names()

len(X_train_words)

7702

In [46]:
X_train_words[:5]

['00', '000', '000pes', '008704050406', '0089']

In [47]:
X_train_words[800:810]

['actin',
 'acting',
 'action',
 'activ8',
 'activate',
 'active',
 'activities',
 'actor',
 'actual',
 'actually']

In [48]:
# Feature_count_method } How many times a certain word is apperas

nb_model.feature_count_

array([[ 0.,  0.,  1., ...,  1.,  1.,  0.],
       [ 8., 23.,  0., ...,  0.,  0.,  1.]])

In [49]:
nb_model.feature_count_.shape

(2, 7702)

In [50]:
ham_Word_cnt = nb_model.feature_count_[0,:]

In [51]:
Spam_Word_cnt = nb_model.feature_count_[1,:]

In [52]:
ham_Word_cnt

array([0., 0., 1., ..., 1., 1., 0.])

In [53]:
Spam_Word_cnt

array([ 8., 23.,  0., ...,  0.,  0.,  1.])

In [54]:
ham_Word_cnt.shape

(7702,)

In [55]:
Spam_Word_cnt.shape

(7702,)

In [56]:
tokens = pd.DataFrame({'token':X_train_words , 'Ham':ham_Word_cnt , 'Spam':Spam_Word_cnt})
tokens.head()

          token  Ham  Spam
0            00  0.0   8.0
1           000  0.0  23.0
2        000pes  1.0   0.0
3  008704050406  0.0   2.0
4          0089  0.0   1.0

In [57]:
tokens = tokens.set_index('token')

In [58]:
tokens.head()

              Ham  Spam
token
00            0.0   8.0
000           0.0  23.0
000pes        1.0   0.0
008704050406  0.0   2.0
0089          0.0   1.0

In [59]:
tokens.tail()

       Ham  Spam
token
zoom   1.0   0.0
zouk   0.0   1.0
zyada  1.0   0.0
èn     1.0   0.0
ú1     0.0   1.0

In [60]:
# Number of observation we have in our ham and spam
nb_model.class_count_

array([3859.,  598.])

In [61]:
tokens['Ham'] = tokens.Ham + 10
tokens['Spam'] = tokens.Spam + 10

In [62]:
tokens.head()

               Ham  Spam
token
00            10.0  18.0
000           10.0  33.0
000pes        11.0  10.0
008704050406  10.0  12.0
0089          10.0  11.0

In [63]:
tokens['ham_occurance'] = tokens.Ham/nb_model.class_count_[0]

In [64]:
tokens['spam_occurance'] = tokens.Spam/nb_model.class_count_[1]

In [65]:
tokens.head()

               Ham  Spam  ham_occurance  spam_occurance
token
00            10.0  18.0       0.002591        0.030100
000           10.0  33.0       0.002591        0.055184
000pes        11.0  10.0       0.002850        0.016722
008704050406  10.0  12.0       0.002591        0.020067
0089          10.0  11.0       0.002591        0.018395

In [66]:
tokens['Ham_to_spam_ratio'] = tokens.ham_occurance/tokens.spam_occurance

In [67]:
tokens.head()

               Ham  Spam  ham_occurance  spam_occurance  Ham_to_spam_ratio
token
00            10.0  18.0       0.002591        0.030100           0.086090
000           10.0  33.0       0.002591        0.055184           0.046958
000pes        11.0  10.0       0.002850        0.016722           0.170459
008704050406  10.0  12.0       0.002591        0.020067           0.129135
0089          10.0  11.0       0.002591        0.018395           0.140875

In [68]:
# Most common words in ham and spam

tokens.sort_values('Ham_to_spam_ratio', ascending=False).head(20)

         Ham  Spam  ham_occurance  spam_occurance  Ham_to_spam_ratio
token
my     603.0  20.0       0.156258        0.033445           4.672117
gt     263.0  10.0       0.068152        0.016722           4.075512
lt     262.0  10.0       0.067893        0.016722           4.060016
but    363.0  16.0       0.094066        0.026756           3.515710
me     637.0  34.0       0.165069        0.056856           2.903267
he     181.0  10.0       0.046903        0.016722           2.804820
ll     228.0  13.0       0.059083        0.021739           2.717803
how    267.0  16.0       0.069189        0.026756           2.585935
ok     247.0  15.0       0.064006        0.025084           2.551715
it     594.0  37.0       0.153926        0.061873           2.487775
come   192.0  12.0       0.049754        0.020067           2.479399
that   445.0  29.0       0.115315        0.048495           2.377872
she    146.0  10.0       0.037834        0.016722           2.262451
lor    134.0  10.0       0.034724        0.016722           2.076497
when   251.0  19.0       0.065043        0.031773           2.047135
not    367.0  28.0       0.095102        0.046823           2.031115
da     130.0  10.0       0.033687        0.016722           2.014512
sorry  137.0  11.0       0.035501        0.018395           1.929987
later  124.0  10.0       0.032133        0.016722           1.921534
then   186.0  15.0       0.048199        0.025084           1.921534

In [69]:
tokens.sort_values('Ham_to_spam_ratio', ascending=False).tail(20)

             Ham   Spam  ham_occurance  spam_occurance  Ham_to_spam_ratio
token
awarded     10.0   42.0       0.002591        0.070234           0.036896
cash        17.0   73.0       0.004405        0.122074           0.036087
1000        10.0   43.0       0.002591        0.071906           0.036038
co          12.0   52.0       0.003110        0.086957           0.035761
50          14.0   61.0       0.003628        0.102007           0.035565
100         10.0   44.0       0.002591        0.073579           0.035219
mobile      25.0  111.0       0.006478        0.185619           0.034901
cs          10.0   45.0       0.002591        0.075251           0.034436
500         10.0   46.0       0.002591        0.076923           0.033687
16          11.0   51.0       0.002850        0.085284           0.033423
nokia       13.0   61.0       0.003369        0.102007           0.033025
guaranteed  10.0   50.0       0.002591        0.083612           0.030992
18          10.0   50.0       0.002591        0.083612           0.030992
tone        10.0   57.0       0.002591        0.095318           0.027186
uk          11.0   67.0       0.002850        0.112040           0.025442
150p        10.0   64.0       0.002591        0.107023           0.024213
txt         20.0  134.0       0.005183        0.224080           0.023129
prize       10.0   74.0       0.002591        0.123746           0.020941
www         12.0   90.0       0.003110        0.150502           0.020662
claim       10.0   97.0       0.002591        0.162207           0.015976

# Most Common Spam Words

In [70]:
tokens['Spam_to_Ham_ratio'] = tokens.spam_occurance/tokens.ham_occurance

In [72]:
tokens.sort_values('Spam_to_Ham_ratio', ascending=False).head(20)

,Ham,Spam,ham_occurance,spam_occurance,Ham_to_spam_ratio,Spam_to_Ham_ratio
token,,,,,,
claim,10.0,97.0,0.002591,0.162207,0.015976,62.595819
www,12.0,90.0,0.003110,0.150502,0.020662,48.398829
prize,10.0,74.0,0.002591,0.123746,0.020941,47.753512
txt,20.0,134.0,0.005183,0.224080,0.023129,43.236288
150p,10.0,64.0,0.002591,0.107023,0.024213,41.300334
uk,11.0,67.0,0.002850,0.112040,0.025442,39.305716
tone,10.0,57.0,0.002591,0.095318,0.027186,36.783110
18,10.0,50.0,0.002591,0.083612,0.030992,32.265886
guaranteed,10.0,50.0,0.002591,0.083612,0.030992,32.265886
nokia,13.0,61.0,0.003369,0.102007,0.033025,30.280293
16,11.0,51.0,0.002850,0.085284,0.033423,29.919276
500,10.0,46.0,0.002591,0.076923,0.033687,29.684615
cs,10.0,45.0,0.002591,0.075251,0.034436,29.039298
mobile,25.0,111.0,0.006478,0.185619,0.034901,28.652107
100,10.0,44.0,0.002591,0.073579,0.035219,28.393980
50,14.0,61.0,0.003628,0.102007,0.035565,28.117415
co,12.0,52.0,0.003110,0.086957,0.035761,27.963768
1000,10.0,43.0,0.002591,0.071906,0.036038,27.748662
cash,17.0,73.0,0.004405,0.122074,0.036087,27.710702
awarded,10.0,42.0,0.002591,0.070234,0.036896,27.103344