# Task:

- How to represent text in numerical format
- How to vectorize our dataset & dtmatrix
- Model building & Evaluation

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train_text = ['go home tonight', 'go take a cab', 'soccer!! go player soccer...']

In [3]:
from sklearn.feature_extraction.text import CountVectorizer

vector = CountVectorizer()       # convert text into number format
vector.fit(train_text)

CountVectorizer()

In [4]:
vector.get_feature_names()

['cab', 'go', 'home', 'player', 'soccer', 'take', 'tonight']

In [5]:
# Transform the doc into doc matrix
train_text_dt_mtx = vector.transform(train_text)

In [6]:
train_text_dt_mtx

<3x7 sparse matrix of type '<class 'numpy.int64'>'
	with 9 stored elements in Compressed Sparse Row format>

In [7]:
train_text_dt_mtx.toarray()

array([[0, 1, 1, 0, 0, 0, 1],
       [1, 1, 0, 0, 0, 1, 0],
       [0, 1, 0, 1, 2, 0, 0]], dtype=int64)

In [9]:
df = pd.DataFrame(train_text_dt_mtx.toarray(),columns=vector.get_feature_names())

In [10]:
df

   cab  go  home  player  soccer  take  tonight
0    0   1     1       0       0     0        1
1    1   1     0       0       0     1        0
2    0   1     0       1       2     0        0

In [11]:
type(train_text_dt_mtx)

scipy.sparse.csr.csr_matrix

In [12]:
print(train_text_dt_mtx)

  (0, 1)	1
  (0, 2)	1
  (0, 6)	1
  (1, 0)	1
  (1, 1)	1
  (1, 5)	1
  (2, 1)	1
  (2, 3)	1
  (2, 4)	2

In [15]:
test_text = ["soccer don't play go"]

In [16]:
test_text_dt_mtx = vector.transform(test_text)

In [17]:
test_text_dt_mtx.toarray()

array([[0, 1, 0, 0, 1, 0, 0]], dtype=int64)

In [18]:
pd.DataFrame(test_text_dt_mtx.toarray(), columns=vector.get_feature_names())

   cab  go  home  player  soccer  take  tonight
0    0   1     0       0       1     0        0

In [27]:
test_test = ["soccer? you mean football", 
             "Hey, I stopped playing soccer because I want to go", 
             "I will take a cab and go to soccer field like a pro player", 
             "I go home take ticket and watch soccer match tonight"]

In [28]:
test_test_dt_mtx = vector.transform(test_test)

In [29]:
test_test_dt_mtx.toarray()

array([[0, 0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 1, 0, 0],
       [1, 1, 0, 1, 1, 1, 0],
       [0, 1, 1, 0, 1, 1, 1]], dtype=int64)

In [30]:
pd.DataFrame(test_test_dt_mtx.toarray(), columns=vector.get_feature_names())

   cab  go  home  player  soccer  take  tonight
0    0   0     0       0       1     0        0
1    0   1     0       0       1     0        0
2    1   1     0       1       1     1        0
3    0   1     1       0       1     1        1